server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://10.9.4.95:3309/zhouyu-admin2?useUnicode=true&zeroDateTimeBehavior=convertToNull&characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true&useSSL=true
    username: root
    password: wj7826
    driver-class-name: com.mysql.jdbc.Driver
  mvc:
    static-path-pattern: /static/**
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect #修改存储引擎
security:
  ignoring: "/static/**/*, /druid/**/**, /login.ftl, /webjars/**/*, /images/**/*" #设置忽略的url
  intercept: "/**/*.jsp, /**/*.html, /**/*.ftl" #设置拦截的url
  successUrl: "/index.ftl" #登录成功后跳转的url
  logoutSuccessUrl: "/login.ftl" #退出成功后的url