server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://localhost/zhouyu-admin2?useUnicode=true&zeroDateTimeBehavior=convertToNull&characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true&useSSL=true
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  mvc:
    static-path-pattern: /statics/**
    view:
      suffix: .ftl
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/statics/
  jpa:
    show-sql: true
    open-in-view: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect #修改存储引擎
security:
  ignoring: "/statics/**/*,/druid/**/**,/kaptcha,/login,/webjars/**/*,/images/**/*,/error" #设置忽略的url
  intercept: "/**/*.jsp, /**/*.html, /**/*.ftl" #设置拦截的url
  successUrl: "/index.ftl" #登录成功后跳转的url
  logoutSuccessUrl: "/login.ftl" #退出成功后的url